header {
  width: 100%;
  background-color: #fafafa;
  border-bottom: solid 1px #eee;
  padding: 20px 0px 10px 10px;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 20px 0 0;
  font-size: 14px;
}

li#sign-in-out {
  margin: 0 0 0 30px;
  font-size: 14px;
}

nav {
  margin: 0 auto 0 0;
}

nav#welcome-msg {
  margin: 0 0 0 auto;
}

.header-col {
  text-decoration: none;
  vertical-align: middle;
}

#header-title {
  font-size: 30px;
  text-decoration: none;
}

.sign-in-out-col {
  text-decoration: none;
}
