header {
  background-color: #fafafa;
  border-bottom: solid 1px #eee;
  height: 60px;
}

.header-col {
  margin: 10px;
  text-decoration: none;
  vertical-align: middle;
}

#header-title {
  font-size: 30px;
  text-decoration: none;
  vertical-align: middle;
  margin: 30px;
}

.sign-in-out-col {
  margin: 30px;
  text-decoration: none;
  vertical-align: middle;
}

.welcome-msg {
  margin: 15px;
  float: right;
  vertical-align: middle;
}
